.main-panel>.content{
	margin-top: 30px;

}
.navbarDropdownMenuLink{
	background: purple;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
.main-panel>.navbar {
    margin-bottom: 0;
    margin-top: 20px;}

.nav-item{
	padding:10px 20px;
}
#techCont{
	padding: 10px 30px;
}
.modal-title{
	text-align: center;
	
}
.navbar .notification {
  
    min-width: 13px;
   height: 13px;
    border-radius: 25px;
   
}

#btn-mod{
	border:none;
}
#modal-btn{
	border:none;
	padding: 0px 0px;
	margin: 5px 5px;
}
#modal-btn2{
	border:none;
	padding: 0px 0px;
	margin: 5px 5px;
}
.chart-container{
	height:70vh;
	 width:70vw;
	 display: block;
	 margin: auto;
	
}
.main-panel>.navbar{
	margin-top: 2px;
}

